# These owners will be the default owners for everything in the repo

# Global reviewers
* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# Kafka
internal/kafka/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# Github workflow
.github/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# connectors
internal/connector/**/* @bf2fc6cc711aee1a0c2a/cos-fleet-manager-reviewers

# common
pkg/**/*  @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers @bf2fc6cc711aee1a0c2a/cos-fleet-manager-reviewers
test/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers @bf2fc6cc711aee1a0c2a/cos-fleet-manager-reviewers

# api
openapi/ @bf2fc6cc711aee1a0c2a/devexp-sdks
