# These owners will be the default owners for everything in the repo

# Global reviewers
* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# Kafka
internal/kafka/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# Github workflow
.github/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers 

# connectors
internal/connector/**/*  @valdar @dhirajsb @lburgazzoli

# common
pkg/**/*  @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers @valdar @dhirajsb
test/**/* @bf2fc6cc711aee1a0c2a/kas-fleet-manager-reviewers @valdar @dhirajsb

# api
openapi/ @bf2fc6cc711aee1a0c2a/devexp-sdks
