openapi: 3.0.0 # need this as first line to allow some IDEs to know this is an openapi document.
# Warning: This file should only be used if the endpoints are not yet ready to be public, or not suitable for public consumption (like the data plane endpoints).
# In most cases, you shouldn't need to add the endpoints here.
# Only add endpoints here when it is an explicit requirement, or if you know what you are doing.
# There should be no duplicated endpoints or schemas in these 2 files. They should only defined in one of them.
info:
  title: Connector Service Fleet Manager Private APIs
  version: 0.0.3
  description: Connector Service Fleet Manager apis that are used by internal services.
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
tags:
  - name: Connector Clusters Agent
    description: "only accessible by connector fleet shard agents"

paths:
  '/api/connector_mgmt/v1/dinosaur_connector_clusters/{connector_cluster_id}/status':
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
    put:
      tags:
        - Connector Clusters Agent
      security:
        - Bearer: [ ]
      operationId: updateDinosaurConnectorClusterStatus
      summary: Update the status of a connector cluster
      requestBody:
        description: Cluster status update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorClusterStatus'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.

  '/api/connector_mgmt/v1/dinosaur_connector_clusters/{connector_cluster_id}/deployments':
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
    get:
      tags:
        - Connector Clusters Agent
      security:
        - Bearer: [ ]
      operationId: getClusterAsignedConnectorDeployments
      summary: Returns a list of connector deployments assigned to the cluster.
      parameters:
        - $ref: 'fleet-manager.yaml#/components/parameters/page'
        - $ref: 'fleet-manager.yaml#/components/parameters/size'
        - in: query
          name: gt_version
          description: filters the connectors to those with a version greater than the given value
          schema:
            type: integer
            format: int64
        - in: query
          name: watch
          description: watch for changes to the resources and return them as a stream of watch events. Specify gt_version to specify the starting point.
          schema:
            type: string

      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDeploymentList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/ConnectorDeploymentWatchEvent'
          description: A list of connector
        '401':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                401Example:
                  $ref: 'fleet-manager.yaml#/components/examples/401Example'
          description: Auth token is invalid
        '500':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                500Example:
                  $ref: 'fleet-manager.yaml#/components/examples/500Example'
          description: Unexpected error occurred

  '/api/connector_mgmt/v1/dinosaur_connector_clusters/{connector_cluster_id}/deployments/{deployment_id}':
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
      - name: deployment_id
        description: The id of the deployment
        schema:
          type: string
        in: path
        required: true
    get:
      tags:
        - Connector Clusters Agent
      security:
        - Bearer: [ ]
      operationId: getClusterAsignedConnectorDeploymentById
      summary: Returns a list of connector deployments assigned to the cluster.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDeployment'
          description: A connector deployment
        '401':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                401Example:
                  $ref: 'fleet-manager.yaml#/components/examples/401Example'
          description: Auth token is invalid
        '410':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
          description: deployment has been deleted
        '500':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                500Example:
                  $ref: 'fleet-manager.yaml#/components/examples/500Example'
          description: Unexpected error occurred

  '/api/connector_mgmt/v1/dinosaur_connector_clusters/{connector_cluster_id}/deployments/{deployment_id}/status':
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
      - name: deployment_id
        description: The id of the deployment
        schema:
          type: string
        in: path
        required: true
    put:
      tags:
        - Connector Clusters Agent
      operationId: updateConnectorDeploymentStatus
      summary: update the connector deployment status
      security:
        - Bearer: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDeploymentStatus'
        required: true
      responses:
        '200':
          description: Cluster status is updated
        '400':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                400InvalidIdExample:
                  $ref: '#/components/examples/400InvalidIdExample'
          description: id value is not valid
        '404':
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'
              examples:
                404Example:
                  $ref: 'fleet-manager.yaml#/components/examples/404Example'
          # This is deliberate to hide the endpoints for unauthorised users
          description: Auth token is not valid.
        '410':
          description: deployment has been deleted
          content:
            application/json:
              schema:
                $ref: 'fleet-manager.yaml#/components/schemas/Error'

components:
  schemas:

    MetaV1Condition:
      type: object
      properties:
        type:
          type: string
        reason:
          type: string
        message:
          type: string
        status:
          type: string
        lastTransitionTime:
          type: string
          deprecated: true
        last_transition_time:
          type: string
          #format: date-time # enable this?? or just set it as pure plain string?

    WatchEvent:
      required:
        - type
      type: object
      properties:
        type:
          type: string
        error:
          nullable: true
          $ref: "fleet-manager.yaml#/components/schemas/Error"
        object:
          type: object
          nullable: true

    ConnectorDeployment:
      description: Holds the deployment configuration of a connector
      allOf:
        - $ref: 'fleet-manager.yaml#/components/schemas/ObjectReference'
        - type: object
          properties:
            metadata:
              type: object
              properties:
                created_at:
                  format: date-time
                  type: string
                updated_at:
                  format: date-time
                  type: string
                resource_version:
                  type: integer
                  format: int64
            spec:
              $ref: '#/components/schemas/ConnectorDeploymentSpec'
            status:
              $ref: '#/components/schemas/ConnectorDeploymentStatus'

    ConnectorDeploymentSpec:
      description: Holds the deployment specification of a connector
      type: object
      properties:
        shard_metadata:
          type: object
        connector_id:
          type: string
        allow_upgrade:
          description: allow the connector to upgrade to a new operator
          type: boolean
          deprecated: true
        operator_id:
          description: an optional operator id that the connector should be run under.
          type: string
        connector_resource_version:
          type: integer
          format: int64
        dinosaur_id:
          type: string
        dinosaur:
          $ref: 'connector_mgmt.yaml#/components/schemas/DinosaurConnectionSettings'
        connector_type_id:
          type: string
        connector_spec:
          type: object
        desired_state:
          type: string

    ConnectorDeploymentStatus:
      description: The status of connector deployment
      type: object
      properties:
        phase:
          type: string
        resource_version:
          type: integer
          format: int64
        available_upgrades:
          type: string
          deprecated: true
        operators:
          type: object
          properties:
            assigned:
              $ref: '#/components/schemas/ConnectorOperator'
            available:
              $ref: '#/components/schemas/ConnectorOperator'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/MetaV1Condition'

    ConnectorDeploymentList:
      allOf:
        - $ref: 'fleet-manager.yaml#/components/schemas/List'
        - type: object
          properties:
            items:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/ConnectorDeployment'

    ConnectorDeploymentWatchEvent:
      allOf:
        - $ref: '#/components/schemas/WatchEvent'
        - type: object
          properties:
            object:
              $ref: '#/components/schemas/ConnectorDeployment'

    ConnectorOperator:
      description: identifies an operator that runs on the fleet shards used to manage connectors.
      properties:
        id:
          description: the id of the operator
          type: string
        type:
          description: the type of the operator
          type: string
        version:
          description: the version of the operator
          type: string

    ConnectorClusterStatus:
      description: "Schema for the request to update a data plane cluster's status"
      type: object
      properties:
        phase:
          type: string
        version:
          type: string
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/MetaV1Condition'
        operators:
          description: the list of installed operators
          type: array
          items:
            type: object
            properties:
              operator:
                $ref: '#/components/schemas/ConnectorOperator'
              namespace:
                description: the namespace to which the operator has been installed
                type: string
              status:
                description: the status of the operator
                type: string

  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http

  examples:
    ManagedDinosaurExample:
      value:
        kind: "ManagedDinosaur"
        metadata:
          name: "example-dinosaur"
          namespace: "example-dinosaur-1rfpsqbvq1em2u9u0z54ymjcwac"
          annotations:
            id: "1rfpsqbvq1em2u9u0z54ymjcwac"
            placement_id: ""
        spec:
          capacity:
            ingress_egress_throughput_per_sec: 4Mi
            total_max_connections: 500
            max_data_retention_size: 100Gi
            max_partitions: 100
            max_data_retention_period: P14D
            max_connection_attempts_per_sec: 100
          oauth:
            client_id: "dinosaur-1rfpsqbvq1em2u9u0z54ymjcwac"
            client_secret: "example-client-secret"
            token_endpoint_uri: "https://example-token-endpoint-uri.com/token"
            jwks_endpoint_uri: "https://example-jwks-endpoint-uri.com/certs"
            valid_issuer_endpoint_uri: "https://issuer-endpoint-uri.com"
            user_name_claim: "username"
            tls_trusted_certificate: ""
            custom_claim_check: ""
          endpoint:
            bootstrap_server_host: "example-dinosaur--rfpsqbvq-em-u-u-z--ymjcwac.dinosaur.devshift.org"
            tls:
              cert: ""
              key: ""
          versions:
            dinosaur: 2.7.0
            strimzi: 0.21.2
          deleted: false
    DataPlaneDinosaurStatusRequestExample:
      value:
        conditions:
          - type: Ready
            reason: DinosaurInstanceReady
            message: installing
            status: "False"
            last_transition_time: "2018-01-01T00:00:00Z"
        capacity:
          ingress_egress_throughput_per_sec: 4Mi
          total_maxConnections: 500
          max_data_retention_size: 100Gi
          max_partitions: 100
          max_data_retention_period: P14D
          max_connection_attempts_per_sec: 100
        versions:
          dinosaur: 2.4.1
          strimzi: 0.21.2
    400InvalidIdExample:
      value:
        id: "203"
        kind: "Error"
        href: "/api/dinosaurs_mgmt/v1/errors/21"
        code: "DINOSAURS-MGMT-21"
        reason: "Bad request"
        operation_id: "1lWDGuybIrEnxrAem724gqkkiDv"