openapi: 3.0.0
info:
  title: Connector Service Fleet Manager Admin APIs
  version: 0.0.3
  description: Connector Service Fleet Manager Admin is a Rest API to manage connector clusters.
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
tags:
  - name: Connector Clusters Admin
    description: ""
  - name: Connector Namespaces Admin
    description: ""

paths:
  #
  # These are the connector related admin APIs
  #
  /api/connector_mgmt/v1/admin/kafka_connector_clusters:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: 'connector_mgmt.yaml#/components/parameters/orderBy'
        - $ref: 'connector_mgmt.yaml#/components/parameters/search'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorClusterList"
          description: A list of connector clusters
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: listConnectorClusters
      summary: Returns a list of connector clusters

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/upgrades/type:
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
      - $ref: "connector_mgmt.yaml#/components/parameters/page"
      - $ref: "connector_mgmt.yaml#/components/parameters/size"
    get:
      tags:
        - Connector Clusters Admin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAvailableTypeUpgradeList"
          description: The connectors that have available type upgrades
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster type exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorUpgradesByType
      summary: Get a list of available connector type upgrades

    put:
      tags:
        - Connector Clusters Admin
      responses:
        "204":
          description: Connectors are upgraded
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: upgradeConnectorsByType
      summary: upgrade a connector cluster
      requestBody:
        description: List of connectors to upgrade
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorAvailableTypeUpgrade"
        required: true

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/upgrades/operator:
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
      - $ref: "connector_mgmt.yaml#/components/parameters/page"
      - $ref: "connector_mgmt.yaml#/components/parameters/size"
    get:
      tags:
        - Connector Clusters Admin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAvailableOperatorUpgradeList"
          description: The connectors that have available operator upgrades
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster type exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorUpgradesByOperator
      summary: Get a list of available connector operator upgrades

    put:
      tags:
        - Connector Clusters Admin
      responses:
        "204":
          description: Connectors are upgraded
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: upgradeConnectorsByOperator
      summary: upgrade a connector cluster
      requestBody:
        description: List of connectors to upgrade
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorAvailableOperatorUpgrade"
        required: true

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces:
    get:
      tags:
        - Connector Namespaces Admin
      parameters:
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
        - $ref: "connector_mgmt.yaml#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceList"
          description: Connector namespaces
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorNamespaces
      summary: Get a list of available connector namespaces

    post:
      tags:
        - Connector Namespaces Admin
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespace"
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: createConnectorNamespace
      summary: Create a connector namespace
      requestBody:
        description: Namespace to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorNamespaceWithTenantRequest"
        required: true

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces/${namespace_id}:
    parameters:
      - name: namespace_id
        description: The name of the namespace to delete
        schema:
          type: string
        in: path
        required: true
    delete:
      tags:
        - Connector Clusters Admin
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
          description: Deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: deleteConnectorNamespace
      summary: Delete a connector namespace

components:
  schemas:
    ConnectorAvailableTypeUpgradeList:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/List"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorAvailableTypeUpgrade"

    ConnectorAvailableTypeUpgrade:
      description: An available type upgrade for a connector
      type: object
      properties:
        connector_id:
          type: string
        namespace:
          type: string
        connector_type_id:
          type: string
        channel:
          type: string
        shard_metadata:
          type: object
          properties:
            assigned_id:
              type: integer
              format: int64
            available_id:
              type: integer
              format: int64

    ConnectorAvailableOperatorUpgradeList:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/List"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorAvailableOperatorUpgrade"

    ConnectorAvailableOperatorUpgrade:
      description: An available operator upgrade for a connector
      type: object
      properties:
        connector_id:
          type: string
        namespace:
          type: string
        connector_type_id:
          type: string
        channel:
          type: string
        operator:
          type: object
          properties:
            assigned_id:
              type: string
            available_id:
              type: string

    ConnectorNamespaceWithTenantRequest:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceRequest"
        - type: object
          properties:
            tenant:
              $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceTenant"

  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
