openapi: 3.0.0
info:
  title: Connector Service Fleet Manager Admin APIs
  version: 0.0.3
  description: Connector Service Fleet Manager Admin is a Rest API to manage connector clusters.
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
tags:
  - name: Connector Clusters Admin
    description: ""
  - name: Connector Namespaces Admin
    description: ""

paths:
  #
  # These are the connector related admin APIs
  #
  /api/connector_mgmt/v1/admin/kafka_connector_clusters:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: 'connector_mgmt.yaml#/components/parameters/orderBy'
        - $ref: 'connector_mgmt.yaml#/components/parameters/search'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorClusterAdminList"
          description: A list of connector clusters
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: listConnectorClusters
      summary: Returns a list of connector clusters

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: connector_cluster_id
          description: The id of the connector cluster
          schema:
            type: string
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorClusterAdminView"
          description: The connector cluster matching the request
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorCluster
      summary: Get a connector cluster

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/namespaces:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: connector_cluster_id
          description: The id of the connector cluster
          schema:
            type: string
          in: path
          required: true
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
        - $ref: "connector_mgmt.yaml#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceList"
          description: Connector namespaces
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getClusterNamespaces
      summary: Get a list of available connector namespaces in cluster

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/connectors:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: connector_cluster_id
          description: The id of the connector cluster
          schema:
            type: string
          in: path
          required: true
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
        - $ref: "connector_mgmt.yaml#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAdminViewList"
          description: Connectors in cluster
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getClusterConnectors
      summary: Get a list of available connectors in a cluster

  /api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/deployments:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: connector_cluster_id
          description: The id of the cluster
          schema:
            type: string
          in: path
          required: true
        - name: channel_updates
          description: include only deployments that have channel updates
          schema:
            type: boolean
          in: query
          required: false
        - name: operator_updates
          description: include only deployments that have operator updates
          schema:
            type: boolean
          in: query
          required: false
        - name: dangling_deployments
          description: include only not deleted deployments belonging to a deleted connector
          schema:
            type: boolean
          in: query
          required: false
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDeploymentAdminViewList"
          description: Connector deployments in cluster
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getClusterDeployments
      summary: Get a list of available deployments in a cluster

  '/api/connector_mgmt/v1/admin/kafka_connector_clusters/{connector_cluster_id}/deployments/{deployment_id}':
    parameters:
      - name: connector_cluster_id
        description: The id of the connector cluster
        schema:
          type: string
        in: path
        required: true
      - name: deployment_id
        description: The id of the connector deployment
        schema:
          type: string
        in: path
        required: true
    get:
      description: Get a connector deployment
      tags:
        - Connector Clusters Admin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDeploymentAdminView"
          description: The connector deployment matching the request
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector deployment exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorDeployment
      summary: Get a connector deployment
    patch:
      tags:
        - Connector Clusters Admin
      security:
        - Bearer: [ ]
      operationId: patchConnectorClusterDeploymentAdmin
      summary: Patch a deployment
      description: Patch a deployment
      requestBody:
        description: Data to patch the deployment with
        content:
          application/merge-patch+json:
            schema:
              type: object
          application/json:
            schema:
              type: object
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDeploymentAdminView"
          description: The deployment matching the request
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "#/components/examples/404Example"
          description: No matching resource exists
        "410":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "#/components/examples/410Example"
          description: The requested resource doesn't exist anymore
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
          description: Unexpected error occurred

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces:
    get:
      tags:
        - Connector Namespaces Admin
      parameters:
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
        - $ref: "connector_mgmt.yaml#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceList"
          description: Connector namespaces
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorNamespaces
      summary: Get a list of available connector namespaces

    post:
      tags:
        - Connector Namespaces Admin
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespace"
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: createConnectorNamespace
      summary: Create a connector namespace
      requestBody:
        description: Namespace to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorNamespaceWithTenantRequest"
        required: true

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces/{namespace_id}:
    parameters:
      - name: namespace_id
        description: The id of the namespace
        schema:
          type: string
        in: path
        required: true
    get:
      description: Get a connector namespace
      tags:
        - Connector Clusters Admin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespace"
          description: The connector namespace matching the request
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector deployment exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnectorNamespace
      summary: Get a connector namespace
    delete:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: namespace_id
          description: The id of the namespace to delete
          schema:
            type: string
          in: path
          required: true
        - name: force
          description: Flag to force deletion of namespace in Fleet manager if true
          schema:
            type: boolean
          in: query
          required: false
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
          description: Deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector cluster exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: deleteConnectorNamespace
      summary: Delete a connector namespace

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces/{namespace_id}/connectors:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: namespace_id
          description: The id of the namespace
          schema:
            type: string
          in: path
          required: true
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
        - $ref: "connector_mgmt.yaml#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAdminViewList"
          description: Connectors in namespace
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getNamespaceConnectors
      summary: Get a list of available connectors in a namespace

  /api/connector_mgmt/v1/admin/kafka_connector_namespaces/{namespace_id}/deployments:
    get:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: namespace_id
          description: The id of the namespace
          schema:
            type: string
          in: path
          required: true
        - name: channel_updates
          description: include only deployments that have channel updates
          schema:
            type: boolean
          in: query
          required: false
        - name: operator_updates
          description: include only deployments that have operator updates
          schema:
            type: boolean
          in: query
          required: false
        - name: dangling_deployments
          description: include only not deleted deployments belonging to a deleted connector
          schema:
            type: boolean
          in: query
          required: false
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: "connector_mgmt.yaml#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDeploymentAdminViewList"
          description: Connector deployments in namespace
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector namespace exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getNamespaceDeployments
      summary: Get a list of available deployments in a namespace


  /api/connector_mgmt/v1/admin/kafka_connectors/{connector_id}:
    parameters:
      - name: connector_id
        description: The id of the connector to delete
        schema:
          type: string
        in: path
        required: true
    get:
      description: Get a connector
      tags:
        - Connector Clusters Admin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAdminView"
          description: The connector matching the request
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: getConnector
      summary: Get a connector

    patch:
      tags:
        - Connector Clusters Admin
      security:
        - Bearer: [ ]
      operationId: patchConnector
      summary: Patch a connector
      description: Patch a connector
      requestBody:
        description: Data to patch the connector with
        content:
          application/merge-patch+json:
            schema:
              type: object
          application/json-patch+json:
            schema:
              description: A JSON Patch, RFC 6902 - https://tools.ietf.org/html/rfc6902
              type: object
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorAdminRequest"
        required: true

      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorAdminView"
          description: Deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred

    delete:
      tags:
        - Connector Clusters Admin
      parameters:
        - name: connector_id
          description: The id of the connector to delete
          schema:
            type: string
          in: path
          required: true
        - name: force
          description: Flag to force deletion of connector in Fleet manager if true
          schema:
            type: boolean
          in: query
          required: false
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
          description: Deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "connector_mgmt.yaml#/components/examples/404Example"
          description: No matching connector exists
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: [ ]
      operationId: deleteConnector
      summary: Delete a connector

  /api/connector_mgmt/v1/admin/kafka_connector_types:
    get:
      tags:
        - Connector Types
      security:
        - Bearer: [ ]
      operationId: getConnectorTypes
      summary: Returns a list of connector types
      description: Returns a list of connector types
      parameters:
        - $ref: "connector_mgmt.yaml#/components/parameters/page"
        - $ref: "connector_mgmt.yaml#/components/parameters/size"
        - $ref: 'connector_mgmt.yaml#/components/parameters/orderBy'
        - $ref: 'connector_mgmt.yaml#/components/parameters/search'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorTypeAdminViewList"
          description: A list of connector types
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred

  /api/connector_mgmt/v1/admin/kafka_connector_types/{connector_type_id}:
    parameters:
      - name: connector_type_id
        description: The id of the connector type
        schema:
          type: string
        in: path
        required: true
    get:
      tags:
        - Connector Types
      security:
        - Bearer: [ ]
      operationId: getConnectorTypeByID
      summary: Get a connector type by id
      description: Get a connector type by id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorTypeAdminView"
          description: A list of connector types
        "401":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "connector_mgmt.yaml#/components/examples/401Example"
          description: Auth token is invalid
        "500":
          content:
            application/json:
              schema:
                $ref: "connector_mgmt.yaml#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "connector_mgmt.yaml#/components/examples/500Example"
          description: Unexpected error occurred

components:
  schemas:
    ConnectorNamespaceWithTenantRequest:
      required:
        - name
        - cluster_id
        - tenant
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceEvalRequest"
        - type: object
          properties:
            cluster_id:
              type: string
            tenant:
              $ref: "connector_mgmt.yaml#/components/schemas/ConnectorNamespaceTenant"
            expiration:
              description: Namespace expiration timestamp in RFC 3339 format
              type: string
              #format: date-time

    ConnectorAdminView:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/ObjectReference"
        - $ref: "connector_mgmt.yaml#/components/schemas/ConnectorMeta"
        - $ref: "connector_mgmt.yaml#/components/schemas/ConnectorStatus"

    ConnectorAdminViewList:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/List"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorAdminView"

    ConnectorDeploymentAdminView:
      description: Holds the deployment configuration of a connector
      allOf:
        - $ref: 'connector_mgmt.yaml#/components/schemas/ObjectReference'
        - type: object
          properties:
            metadata:
              type: object
              required:
                - created_at
                - updated_at
                - resource_version
                - resolved_secrets
              properties:
                created_at:
                  format: date-time
                  type: string
                updated_at:
                  format: date-time
                  type: string
                resource_version:
                  type: integer
                  format: int64
                resolved_secrets:
                  type: boolean
                annotations:
                  $ref: "connector_mgmt.yaml#/components/schemas/ConnectorResourceAnnotations"
            spec:
              $ref: '#/components/schemas/ConnectorDeploymentAdminSpec'
            status:
              $ref: '#/components/schemas/ConnectorDeploymentAdminStatus'

    ConnectorDeploymentAdminSpec:
      description: Holds the deployment specification of a connector
      type: object
      properties:
        connector_id:
          type: string
        connector_resource_version:
          type: integer
          format: int64
        connector_type_id:
          type: string
        cluster_id:
          type: string
        namespace_id:
          type: string
        allow_upgrade:
          description: allow the connector to upgrade to a new operator
          type: boolean
          deprecated: true
        operator_id:
          description: an optional operator id that the connector should be run under.
          type: string
        desired_state:
          $ref: 'connector_mgmt.yaml#/components/schemas/ConnectorDesiredState'
        shard_metadata:
          type: object

    ConnectorDeploymentAdminStatus:
      description: The status of connector deployment
      type: object
      properties:
        phase:
          $ref: 'connector_mgmt.yaml#/components/schemas/ConnectorState'
        resource_version:
          type: integer
          format: int64
        shard_metadata:
          description: latest available revision of deployment shared metadata
          type: object
          properties:
            assigned:
              $ref: '#/components/schemas/ConnectorShardMetadata'
            available:
              $ref: '#/components/schemas/ConnectorShardMetadata'
        operators:
          type: object
          properties:
            assigned:
              $ref: 'connector_mgmt-private.yaml#/components/schemas/ConnectorOperator'
            available:
              $ref: 'connector_mgmt-private.yaml#/components/schemas/ConnectorOperator'
        conditions:
          type: array
          items:
            $ref: 'connector_mgmt-private.yaml#/components/schemas/MetaV1Condition'

    ConnectorShardMetadata:
      description: identifies a shard metadata of a connector type.
      properties:
        channel:
          description: the channel of the shard metadata
          type: string
        connector_type_id:
          description: the connector type id this shard metadata refers to
          type: string
        revision:
          description: the revision of the shard metadate
          type: integer
          format: int64

    ConnectorDeploymentAdminViewList:
      allOf:
        - $ref: 'connector_mgmt.yaml#/components/schemas/List'
        - type: object
          properties:
            items:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/ConnectorDeploymentAdminView'

    ConnectorTypeAdminViewList:
      allOf:
        - $ref: 'connector_mgmt.yaml#/components/schemas/List'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ConnectorTypeAdminView'

    ConnectorTypeAdminView:
      description: Holds the connector type
      allOf:
        - $ref: 'connector_mgmt.yaml#/components/schemas/ObjectReference'
        - $ref: 'connector_mgmt.yaml#/components/schemas/ConnectorType'
        - type: object
          properties:
            channels:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ConnectorTypeChannel'

    ConnectorTypeChannel:
      description: Holds the connector type channel
      type: object
      properties:
        shard_metadata:
          type: object

    ConnectorClusterAdminList:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/List"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConnectorClusterAdminView"

    ConnectorClusterAdminStatus:
      type: object
      properties:
        state:
          $ref: 'connector_mgmt.yaml#/components/schemas/ConnectorClusterState'
        version:
          type: string
        conditions:
          type: array
          items:
            $ref: 'connector_mgmt-private.yaml#/components/schemas/MetaV1Condition'
        platform:
          $ref: 'connector_mgmt-private.yaml#/components/schemas/ConnectorClusterPlatform'
        operators:
          description: the list of installed operators
          type: array
          items:
            type: object
            properties:
              operator:
                $ref: 'connector_mgmt-private.yaml#/components/schemas/ConnectorOperator'
              namespace:
                description: the namespace to which the operator has been installed
                type: string
              status:
                description: the status of the operator
                type: string

    ConnectorClusterAdminView:
      allOf:
        - $ref: "connector_mgmt.yaml#/components/schemas/ObjectReference"
        - $ref: "connector_mgmt.yaml#/components/schemas/ConnectorClusterMeta"
        - type: object
          properties:
            status:
              $ref: "#/components/schemas/ConnectorClusterAdminStatus"

    ConnectorAdminRequest:
      required:
        - desired_state
      properties:
        desired_state:
          $ref: "connector_mgmt.yaml#/components/schemas/ConnectorDesiredState"

  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
