openapi: 3.0.0
info:
  contact:
    email: rhosak-support@redhat.com
    name: Red Hat Hybrid Cloud Console
  description: The admin APIs for the fleet manager of Kafka service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Kafka Service Fleet Manager Admin APIs
  version: 0.1.0
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: localhost
  url: http://localhost:8000
- description: current domain
  url: /
tags:
- name: Admin APIs
paths:
  /api/kafkas_mgmt/v1/admin/kafkas:
    get:
      description: Returns a list of Kafkas
      operationId: getKafkas
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        in: query
        name: page
        required: false
        schema:
          type: string
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        in: query
        name: size
        required: false
        schema:
          type: string
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the `order by` clause of an SQL statement.
          Each query can be ordered by any of the following `kafkaRequests` fields:

          * bootstrap_server_host
          * admin_api_server_url
          * cloud_provider
          * cluster_id
          * created_at
          * href
          * id
          * instance_type
          * multi_az
          * name
          * organisation_id
          * owner
          * reauthentication_enabled
          * region
          * status
          * updated_at
          * version

          For example, to return all Kafka instances ordered by their name, use the following syntax:

          ```sql
          name asc
          ```

          To return all Kafka instances ordered by their name _and_ created date, use the following syntax:

          ```sql
          name asc, created_at asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          the results are ordered by name.
        examples:
          orderBy:
            value: name asc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Search criteria.

          The syntax of this parameter is similar to the syntax of the `where` clause of an
          SQL statement. Allowed fields in the search are `cloud_provider`, `name`, `owner`, `region`, and `status`. Allowed comparators are `<>`, `=`, `LIKE`, or `ILIKE`.
          Allowed joins are `AND` and `OR`. However, you can use a maximum of 10 joins in a search query.

          Examples:

          To return a Kafka instance with the name `my-kafka` and the region `aws`, use the following syntax:

          ```
          name = my-kafka and cloud_provider = aws
          ```

          To return a Kafka instance with a name that starts with `my`, use the following syntax:

          ```
          name like my%25
          ```

          To return a Kafka instance with a name containing `test` matching any character case combinations, use the following syntax:

          ```
          name ilike %25test%25
          ```

          If the parameter isn't provided, or if the value is empty, then all the Kafka instances
          that the user has permission to see are returned.

          Note. If the query is invalid, an error is returned.
        examples:
          search:
            value: name = my-kafka and cloud_provider = aws
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaList'
          description: Return a list of Kafka instances. This endpoint will return
            all Kafka instances that are stored in the database and the are not filtered
            based on user ids or org ids.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorised to access the service
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
  /api/kafkas_mgmt/v1/admin/kafkas/{id}:
    delete:
      description: Delete a Kafka by ID
      operationId: deleteKafkaById
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Perform the action in an asynchronous manner
        explode: true
        in: query
        name: async
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kafka'
          description: Kafka updated by ID
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorised to access the service
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Kafka found with the specified ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
    get:
      description: Return the details of Kafka instance by id
      operationId: getKafkaById
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kafka'
          description: Kafka found by ID
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorised to access the service
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Kafka found with the specified ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
    patch:
      description: Update a Kafka instance by id
      operationId: updateKafkaById
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaUpdateRequest'
        description: Kafka update data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kafka'
          description: Kafka updated by ID
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorised to access the service
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Kafka found with the specified ID
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
components:
  schemas:
    Kafka:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - required:
        - kafka_ibp_upgrading
        - kafka_upgrading
        - multi_az
        - strimzi_upgrading
      - $ref: '#/components/schemas/Kafka_allOf'
    KafkaList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/KafkaList_allOf'
    KafkaUpdateRequest:
      example:
        strimzi_version: strimzi_version
        kafka_ibp_version: kafka_ibp_version
        max_data_retention_size: max_data_retention_size
        kafka_version: kafka_version
        kafka_storage_size: kafka_storage_size
        suspended: true
      properties:
        strimzi_version:
          type: string
        kafka_version:
          type: string
        kafka_ibp_version:
          type: string
        kafka_storage_size:
          deprecated: true
          description: Maximum data storage available to this Kafka. This is now deprecated,
            please use max_data_retention_size instead
          type: string
        max_data_retention_size:
          description: Maximum data storage available to this Kafka
          type: string
        suspended:
          description: boolean value indicating whether kafka should be suspended
            or not depending on the value provided. Suspended kafkas have their certain
            resources removed and become inaccessible until fully unsuspended (restored
            to Ready state).
          nullable: true
          type: boolean
      type: object
    SupportedKafkaSizeBytesValueItem:
      properties:
        bytes:
          format: int64
          type: integer
      type: object
    Error:
      properties:
        reason:
          description: Human-readable description of the error. Intended for human
            consumption
          type: string
        operation_id:
          description: Relatively unique operation ID of the request associated to
            the error
          type: string
        id:
          description: The unique and immutable identifier of the resource
          type: string
        kind:
          description: The kind of the resource
          type: string
        href:
          description: The absolute path of the resource
          type: string
        code:
          description: Code of the error
          type: string
      required:
      - code
      - href
      - id
      - kind
      - reason
      type: object
    ObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
      required:
      - href
      - id
      - kind
      type: object
    List:
      properties:
        kind:
          type: string
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
      required:
      - kind
      - page
      - size
      - total
      type: object
    Kafka_allOf_routes:
      properties:
        domain:
          type: string
        router:
          type: string
    Kafka_allOf:
      properties:
        status:
          description: 'Values: [accepted, preparing, provisioning, ready, failed,
            deprovision, deleting] '
          type: string
        cloud_provider:
          description: Name of Cloud used to deploy. For example AWS
          type: string
        multi_az:
          type: boolean
        region:
          description: 'Values will be regions of specific cloud provider. For example:
            us-east-1 for AWS'
          type: string
        owner:
          type: string
        name:
          type: string
        bootstrap_server_host:
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        failed_reason:
          type: string
        actual_kafka_version:
          type: string
        actual_strimzi_version:
          type: string
        desired_kafka_version:
          type: string
        desired_strimzi_version:
          type: string
        desired_kafka_ibp_version:
          type: string
        actual_kafka_ibp_version:
          type: string
        kafka_upgrading:
          type: boolean
        strimzi_upgrading:
          type: boolean
        kafka_ibp_upgrading:
          type: boolean
        kafka_storage_size:
          deprecated: true
          description: Maximum data storage available to this Kafka. This is now deprecated,
            please use max_data_retention_size instead.
          type: string
        organisation_id:
          type: string
        subscription_id:
          type: string
        owner_account_id:
          type: string
        account_number:
          type: string
        instance_type:
          type: string
        quota_type:
          type: string
        routes:
          items:
            $ref: '#/components/schemas/Kafka_allOf_routes'
          type: array
        routes_created:
          type: boolean
        cluster_id:
          type: string
        namespace:
          type: string
        size_id:
          type: string
        max_data_retention_size:
          $ref: '#/components/schemas/SupportedKafkaSizeBytesValueItem'
    KafkaList_allOf:
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/Kafka'
          type: array
      required:
      - items
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
