openapi: 3.0.0
info:
  description: Kafka Service Fleet Manager APIs that are used by internal services
    e.g kas-fleetshard operators.
  title: Kafka Service Fleet Manager
  version: 1.5.0
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: localhost
  url: http://localhost:8000
- description: current domain
  url: /
tags:
- name: Agent Clusters
paths:
  /api/kafkas_mgmt/v1/agent-clusters/{id}/status:
    put:
      operationId: updateAgentClusterStatus
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest'
        description: Cluster status update data
        required: true
      responses:
        "200":
          description: Cluster status is updated
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Update the status of an agent cluster
      tags:
      - Agent Clusters
  /api/kafkas_mgmt/v1/agent-clusters/{id}/kafkas/status:
    put:
      operationId: updateKafkaClusterStatus
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneKafkaStatusUpdateRequest'
        description: Kafka clusters status update data
        required: true
      responses:
        "200":
          description: Status is updated for Kafka clusters
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Update the status of Kafka clusters on an agent cluster
      tags:
      - Agent Clusters
  /api/kafkas_mgmt/v1/agent-clusters/{id}/kafkas:
    get:
      operationId: getKafkas
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedKafkaList'
          description: The list of the ManagedKafkas for the specified agent cluster
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Get the list of ManagedaKafkas for the specified agent cluster
      tags:
      - Agent Clusters
  /api/kafkas_mgmt/v1/agent-clusters/{id}:
    get:
      operationId: getKafkaAgent
      parameters:
      - description: The ID of record
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneClusterAgentConfig'
          description: The ManagedKafkaAgent CR Spec
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Get the spec of the ManagedKafkaAgent CR spec
      tags:
      - Agent Clusters
components:
  examples:
    ManagedKafkaExample:
      value:
        kind: ManagedKafka
        metadata:
          name: example-kafka
          namespace: example-kafka-1rfpsqbvq1em2u9u0z54ymjcwac
          annotations:
            bf2.org/id: 1rfpsqbvq1em2u9u0z54ymjcwac
            bf2.org/placementId: ""
        spec:
          capacity:
            ingressThroughputPerSec: 4Mi
            egressThroughputPerSec: 4Mi
            totalMaxConnections: 500
            maxDataRetentionSize: 100Gi
            maxPartitions: 100
            maxDataRetentionPeriod: P14D
            maxConnectionAttemptsPerSec: 100
          oauth:
            clientId: kafka-1rfpsqbvq1em2u9u0z54ymjcwac
            clientSecret: example-client-secret
            tokenEndpointUri: https://example-token-endpoint-uri.com/token
            jwksEndpointUri: https://example-jwks-endpoint-uri.com/certs
            validIssuerEndpointUri: https://issuer-endpoint-uri.com
            userNameClaim: clientId
            fallbackUserNameClaim: preferred_username
            tlsTrustedCertificate: ""
            customClaimCheck: ""
            maximumSessionLifetime: 1898
          endpoint:
            bootstrapServerHost: example-kafka--rfpsqbvq-em-u-u-z--ymjcwac.kafka.devshift.org
            tls:
              cert: ""
              key: ""
          versions:
            kafka: 2.7.0
            strimzi: 0.21.2
            kafkaIbp: "2.7"
          deleted: false
    DataPlaneKafkaStatusRequestExample:
      value:
        conditions:
        - type: Ready
          reason: KafkaInstanceReady
          message: installing
          status: "False"
          lastTransitionTime: 2018-01-01T00:00:00Z
        capacity:
          ingressThroughputPerSec: 4Mi
          egressThroughputPerSec: 4Mi
          totalMaxConnections: 500
          maxDataRetentionSize: 100Gi
          maxPartitions: 100
          maxDataRetentionPeriod: P14D
          maxConnectionAttemptsPerSec: 100
        versions:
          kafka: 2.4.1
          strimzi: 0.21.2
          kafkaIbp: "2.4"
    "400InvalidIdExample":
      value:
        id: "21"
        kind: Error
        href: /api/kafkas_mgmt/v1/errors/21
        code: KAFKAS-MGMT-21
        reason: Bad request
        operation_id: 1lWDGuybIrEnxrAem724gqkkiDv
    "404Example":
      value:
        id: "7"
        kind: Error
        href: /api/kafkas_mgmt/v1/errors/7
        code: KAFKAS-MGMT-7
        reason: The requested resource doesn't exist
  schemas:
    ListReference:
      properties:
        kind:
          type: string
      required:
      - items
      - kind
      type: object
    PrivateObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
      type: object
    ManagedKafkaCapacity:
      properties:
        ingressThroughputPerSec:
          type: string
        egressThroughputPerSec:
          type: string
        totalMaxConnections:
          format: int
          type: integer
        maxDataRetentionSize:
          type: string
        maxPartitions:
          format: int
          type: integer
        maxDataRetentionPeriod:
          type: string
        maxConnectionAttemptsPerSec:
          format: int
          type: integer
      type: object
    ManagedKafkaVersions:
      properties:
        kafka:
          type: string
        kafkaIbp:
          type: string
        strimzi:
          type: string
      type: object
    ManagedKafka:
      allOf:
      - $ref: '#/components/schemas/PrivateObjectReference'
      - $ref: '#/components/schemas/ManagedKafka_allOf'
    ManagedKafkaList:
      allOf:
      - $ref: '#/components/schemas/ListReference'
      - $ref: '#/components/schemas/ManagedKafkaList_allOf'
      description: A list of ManagedKafka
    DatePlaneClusterUpdateStatusRequestNodeInfo:
      example:
        ceiling: 1
        current: 5
        currentWorkLoadMinimum: 2
        floor: 5
      nullable: true
      properties:
        ceiling:
          nullable: true
          type: integer
        floor:
          nullable: true
          type: integer
        current:
          nullable: true
          type: integer
        currentWorkLoadMinimum:
          nullable: true
          type: integer
      type: object
    DatePlaneClusterUpdateStatusRequestResizeInfo:
      example:
        nodeDelta: 7
        delta:
          partitions: 3
          egressThroughputPerSec: egressThroughputPerSec
          ingressThroughputPerSec: ingressThroughputPerSec
          connections: 9
          dataRetentionSize: dataRetentionSize
      nullable: true
      properties:
        nodeDelta:
          nullable: true
          type: integer
        delta:
          $ref: '#/components/schemas/DatePlaneClusterUpdateStatusRequestResizeInfo_delta'
      type: object
    DataPlaneClusterUpdateStatusRequest:
      description: Schema for the request to update a data plane cluster's status
      example:
        total:
          partitions: 6
          egressThroughputPerSec: egressThroughputPerSec
          ingressThroughputPerSec: ingressThroughputPerSec
          connections: 0
          dataRetentionSize: dataRetentionSize
        strimzi:
        - ready: true
          kafkaIbpVersions:
          - kafkaIbpVersions
          - kafkaIbpVersions
          kafkaVersions:
          - kafkaVersions
          - kafkaVersions
          version: version
        - ready: true
          kafkaIbpVersions:
          - kafkaIbpVersions
          - kafkaIbpVersions
          kafkaVersions:
          - kafkaVersions
          - kafkaVersions
          version: version
        resizeInfo:
          nodeDelta: 7
          delta:
            partitions: 3
            egressThroughputPerSec: egressThroughputPerSec
            ingressThroughputPerSec: ingressThroughputPerSec
            connections: 9
            dataRetentionSize: dataRetentionSize
        nodeInfo:
          ceiling: 1
          current: 5
          currentWorkLoadMinimum: 2
          floor: 5
        conditions:
        - reason: reason
          type: type
          message: message
          status: status
        - reason: reason
          type: type
          message: message
          status: status
        remaining:
          partitions: 6
          egressThroughputPerSec: egressThroughputPerSec
          ingressThroughputPerSec: ingressThroughputPerSec
          connections: 0
          dataRetentionSize: dataRetentionSize
      properties:
        conditions:
          description: The cluster data plane conditions
          items:
            $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_conditions'
          type: array
        total:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_total'
        remaining:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_total'
        nodeInfo:
          $ref: '#/components/schemas/DatePlaneClusterUpdateStatusRequestNodeInfo'
        resizeInfo:
          $ref: '#/components/schemas/DatePlaneClusterUpdateStatusRequestResizeInfo'
        strimzi:
          items:
            $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_strimzi'
          type: array
      type: object
    DataPlaneKafkaStatus:
      description: Schema of the status object for a Kafka cluster
      example:
        $ref: '#/components/examples/DataPlaneKafkaStatusRequestExample'
      properties:
        conditions:
          description: The status conditions of a Kafka cluster
          items:
            $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_conditions'
          type: array
        capacity:
          $ref: '#/components/schemas/DataPlaneKafkaStatus_capacity'
        versions:
          $ref: '#/components/schemas/DataPlaneKafkaStatus_versions'
        routes:
          description: Routes created for a Kafka cluster
          items:
            $ref: '#/components/schemas/DataPlaneKafkaStatus_routes'
          nullable: true
          type: array
      type: object
    DataPlaneKafkaStatusUpdateRequest:
      additionalProperties:
        $ref: '#/components/schemas/DataPlaneKafkaStatus'
      description: Schema for the request to update the statuses of Kafka clusters
        from data plane
      type: object
    DataplaneClusterAgentConfig:
      description: Configuration for the data plane cluster agent
      example:
        spec:
          observability:
            channel: channel
            tag: tag
            accessToken: accessToken
            repository: repository
      properties:
        spec:
          $ref: '#/components/schemas/DataplaneClusterAgentConfig_spec'
      type: object
    WatchEvent:
      properties:
        type:
          type: string
        error:
          $ref: '#/components/schemas/Error'
        object:
          nullable: true
          type: object
      required:
      - type
      type: object
    Error:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/Error_allOf'
    ObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
      type: object
    ManagedKafka_allOf_metadata_annotations:
      properties:
        bf2.org/id:
          type: string
        bf2.org/placementId:
          type: string
      required:
      - bf2.org/id
      - bf2.org/placementId
    ManagedKafka_allOf_metadata:
      properties:
        name:
          type: string
        namespace:
          type: string
        annotations:
          $ref: '#/components/schemas/ManagedKafka_allOf_metadata_annotations'
    ManagedKafka_allOf_spec_serviceAccounts:
      properties:
        name:
          type: string
        principal:
          type: string
        password:
          type: string
      required:
      - name
      - password
      - principal
    ManagedKafka_allOf_spec_oauth:
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        tokenEndpointURI:
          type: string
        jwksEndpointURI:
          type: string
        validIssuerEndpointURI:
          type: string
        userNameClaim:
          type: string
        fallbackUserNameClaim:
          type: string
        tlsTrustedCertificate:
          nullable: true
          type: string
        customClaimCheck:
          type: string
        maximumSessionLifetime:
          type: long
      required:
      - maximumSessionLifetime
    ManagedKafka_allOf_spec_endpoint_tls:
      nullable: true
      properties:
        cert:
          type: string
        key:
          type: string
    ManagedKafka_allOf_spec_endpoint:
      properties:
        bootstrapServerHost:
          type: string
        tls:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_endpoint_tls'
    ManagedKafka_allOf_spec:
      properties:
        serviceAccounts:
          items:
            $ref: '#/components/schemas/ManagedKafka_allOf_spec_serviceAccounts'
          type: array
        capacity:
          $ref: '#/components/schemas/ManagedKafkaCapacity'
        oauth:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_oauth'
        owners:
          items:
            type: string
          type: array
        endpoint:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_endpoint'
        versions:
          $ref: '#/components/schemas/ManagedKafkaVersions'
        deleted:
          type: boolean
      required:
      - deleted
    ManagedKafka_allOf:
      properties:
        metadata:
          $ref: '#/components/schemas/ManagedKafka_allOf_metadata'
        spec:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec'
    ManagedKafkaList_allOf:
      example: '{"kind":"ManagedKafkaList","items":{"$ref":"#/components/examples/ManagedKafkaExample"}}'
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/ManagedKafka'
          type: array
    DatePlaneClusterUpdateStatusRequestResizeInfo_delta:
      example:
        partitions: 3
        egressThroughputPerSec: egressThroughputPerSec
        ingressThroughputPerSec: ingressThroughputPerSec
        connections: 9
        dataRetentionSize: dataRetentionSize
      nullable: true
      properties:
        ingressThroughputPerSec:
          nullable: true
          type: string
        egressThroughputPerSec:
          nullable: true
          type: string
        connections:
          nullable: true
          type: integer
        dataRetentionSize:
          nullable: true
          type: string
        partitions:
          nullable: true
          type: integer
    DataPlaneClusterUpdateStatusRequest_conditions:
      example:
        reason: reason
        type: type
        message: message
        status: status
      properties:
        type:
          type: string
        reason:
          type: string
        message:
          type: string
        status:
          type: string
    DataPlaneClusterUpdateStatusRequest_total:
      example:
        partitions: 6
        egressThroughputPerSec: egressThroughputPerSec
        ingressThroughputPerSec: ingressThroughputPerSec
        connections: 0
        dataRetentionSize: dataRetentionSize
      properties:
        ingressThroughputPerSec:
          nullable: true
          type: string
        egressThroughputPerSec:
          nullable: true
          type: string
        connections:
          nullable: true
          type: integer
        dataRetentionSize:
          nullable: true
          type: string
        partitions:
          nullable: true
          type: integer
    DataPlaneClusterUpdateStatusRequest_strimzi:
      example:
        ready: true
        kafkaIbpVersions:
        - kafkaIbpVersions
        - kafkaIbpVersions
        kafkaVersions:
        - kafkaVersions
        - kafkaVersions
        version: version
      properties:
        ready:
          type: boolean
        version:
          type: string
        kafkaVersions:
          items:
            type: string
          type: array
        kafkaIbpVersions:
          items:
            type: string
          type: array
      required:
      - ready
      - version
    DataPlaneKafkaStatus_capacity:
      description: Capacity information of the data plane cluster
      properties:
        ingressThroughputPerSec:
          nullable: true
          type: string
        egressThroughputPerSec:
          nullable: true
          type: string
        totalMaxConnections:
          nullable: true
          type: integer
        maxDataRetentionSize:
          nullable: true
          type: string
        maxPartitions:
          nullable: true
          type: integer
        maxDataRetentionPeriod:
          nullable: true
          type: string
        maxConnectionAttemptsPerSec:
          nullable: true
          type: integer
    DataPlaneKafkaStatus_versions:
      description: Version information related to a Kafka cluster
      properties:
        kafka:
          type: string
        strimzi:
          type: string
        kafkaIbp:
          type: string
    DataPlaneKafkaStatus_routes:
      properties:
        name:
          type: string
        prefix:
          type: string
        router:
          type: string
    DataplaneClusterAgentConfig_spec_observability:
      description: Observability configurations
      example:
        channel: channel
        tag: tag
        accessToken: accessToken
        repository: repository
      properties:
        accessToken:
          nullable: true
          type: string
        channel:
          type: string
        repository:
          type: string
        tag:
          type: string
    DataplaneClusterAgentConfig_spec:
      description: Data plane cluster agent spec
      example:
        observability:
          channel: channel
          tag: tag
          accessToken: accessToken
          repository: repository
      properties:
        observability:
          $ref: '#/components/schemas/DataplaneClusterAgentConfig_spec_observability'
    Error_allOf:
      properties:
        code:
          type: string
        reason:
          type: string
        operation_id:
          type: string
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
