---
#- A list of clusters for kas fleet manager
#- The `cluster_id` field can not be empty
#- All clusters in kas fleet manager DB already but are missing in the list will be marked as
#  'deprovisioning' and will later be deleted.
#- This list is ordered, any new cluster should be appended at the end.
#e.g.:
#clusters:
#  - name: anyname # This field is required for a standalone cluster i.e when the provider_type is "standalone". The value has to match the cluster / context name in the given kubeconfig file via the `--kubeconfig` flag.
#    cluster_id: 1jp6kdr7k0sjbe5adck2prjur8f39378  #This field is required
#    cloud_provider: aws
#    region: us-east-1
#    multi_az: true
#    schedulable: true
#    kafka_instance_limit: 2
#    status: "cluster_provisioning" #Valid values are `cluster_provisioning`, `cluster_provisioned` and `ready`. `cluster_provisioning` will be used if not specified.
#    provider_type: "ocm" #Valid values are `ocm` and `standalone`. `ocm` will be used if not specified.
#    cluster_dns: apps.example.com #Valid cluster DNS. This will be used to build kafka bootstrap url and to communicate with standalone clusters. Required when "provider_type" is "standalone" 
#    supported_instance_type: "developer" # could be "developer", "standard" or both i.e "standard,developer" or "developer,standard". Defaults to "standard,developer" if not set 
clusters: []
