openapi: 3.0.0
info:
  description: Kafka Service Fleet Manager is a Rest API to manage kafka instances
    and connectors.
  title: Kafka Service Fleet Manager
  version: 0.0.1
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: localhost
  url: http://localhost:8000
- description: current domain
  url: /
paths:
  /api/managed-services-api/v1/kafka-connector-types/{connector_type_id}:
    get:
      operationId: getConnectorTypeByID
      parameters:
      - description: The id of the connector type
        explode: false
        in: path
        name: connector_type_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorType'
          description: The connector type matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector type by name and version
  /api/managed-services-api/v1/kafka-connector-types:
    get:
      operationId: listConnectorTypes
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorTypeList'
          description: A list of connector types
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector types
  /api/managed-services-api/v1/kafka-connectors:
    get:
      operationId: listConnectors
      parameters:
      - description: The kafka cluster id
        explode: true
        in: query
        name: kafka_id
        required: false
        schema:
          type: string
        style: form
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
          description: A list of connectors
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector types
    post:
      operationId: createConnector
      parameters:
      - description: The kafka cluster id
        explode: true
        in: query
        name: kafka_id
        required: false
        schema:
          type: string
        style: form
      - description: Perform the action in an asynchronous manner
        explode: true
        in: query
        name: async
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
        description: Connector data
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "400CreationExample":
                  $ref: '#/components/examples/400CreationExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the connector
      security:
      - Bearer: []
      summary: Create a new connector
  /api/managed-services-api/v1/kafkas-connectors/{connector_id}:
    delete:
      operationId: deleteConnector
      parameters:
      - description: The kafka cluster id
        explode: true
        in: query
        name: kafka_id
        required: false
        schema:
          type: string
        style: form
      - description: The id of the connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404DeleteExample":
                  $ref: '#/components/examples/404DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: No kafka request with specified id exists
        "500":
          content:
            application/json:
              examples:
                "500DeleteExample":
                  $ref: '#/components/examples/500DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Delete a connector
    get:
      operationId: getConnector
      parameters:
      - description: The kafka cluster id
        explode: true
        in: query
        name: kafka_id
        required: false
        schema:
          type: string
        style: form
      - description: The id of the connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: The connector matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector
  /api/managed-services-api/v1/kafka-connector-clusters:
    get:
      operationId: listConnectorClusters
      parameters:
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorClusterList'
          description: A list of connector clusters
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector clusters
    post:
      operationId: createConnectorCluster
      parameters:
      - description: Perform the action in an asynchronous manner
        explode: true
        in: query
        name: async
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorCluster'
        description: Connector cluster data
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "400CreationExample":
                  $ref: '#/components/examples/400CreationExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource doesn't exist
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the connector cluster
      security:
      - Bearer: []
      summary: Create a new connector cluster
  /api/managed-services-api/v1/kafka-connector-clusters/{connector_cluster_id}:
    delete:
      operationId: deleteConnectorCluster
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Deleted
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404DeleteExample":
                  $ref: '#/components/examples/404DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: No resource with specified id exists
        "500":
          content:
            application/json:
              examples:
                "500DeleteExample":
                  $ref: '#/components/examples/500DeleteExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Delete a connector cluster
    get:
      operationId: getConnectorCluster
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorCluster'
          description: The connector cluster matching the request
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector cluster
  /api/managed-services-api/v1/kafka-connector-clusters/{connector_cluster_id}/addon-parameters:
    get:
      operationId: getConnectorClusterAddonParameters
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonParameterList'
          description: The parameters that should be used to configure the managed
            connector addon on the cluster.
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: No matching connector cluster type exists
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a connector cluster's addon parameters
  /api/managed-services-api/v1/kafka-connector-clusters/{connector_cluster_id}/status:
    put:
      operationId: updateKafkaConnectorAgentClusterStatus
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorClusterStatus'
        description: Cluster status update data
        required: true
      responses:
        "200":
          description: Cluster status is updated
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Update the status of a connector agent cluster
  /api/managed-services-api/v1/kafka-connector-clusters/{connector_cluster_id}/deployments:
    get:
      operationId: listClusterAsignedConnectorDeployments
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page index
        examples:
          page:
            value: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items in each page
        examples:
          size:
            value: "100"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      - description: filters the connectors to those with a version greater than the
          given value
        explode: true
        in: query
        name: gt_version
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: watch for changes to the resources and return them as a stream
          of watch events. Specify gt_version to specify the starting point.
        explode: true
        in: query
        name: watch
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDeploymentList'
            application/json;stream=watch:
              schema:
                $ref: '#/components/schemas/ConnectorDeploymentWatchEvent'
          description: A list of connector
        "401":
          content:
            application/json:
              examples:
                "401Example":
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "500":
          content:
            application/json:
              examples:
                "500Example":
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of connector types
  /api/managed-services-api/v1/kafka-connector-clusters/{connector_cluster_id}/deployments/{connector_id}/status:
    put:
      operationId: updateConnectorDeploymentStatus
      parameters:
      - description: The id of the connector cluster
        explode: false
        in: path
        name: connector_cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDeploymentStatus'
        required: true
      responses:
        "200":
          description: Cluster status is updated
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: update the connector deployment status
  /api/managed-services-api/v1/agent-clusters/{id}/status:
    put:
      operationId: updateAgentClusterStatus
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest'
        description: Cluster status update data
        required: true
      responses:
        "200":
          description: Cluster status is updated
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Update the status of an agent cluster
  /api/managed-services-api/v1/agent-clusters/{id}/kafkas/status:
    put:
      operationId: updateKafkaClusterStatus
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneKafkaStatusUpdateRequest'
        description: Kafka clusters status update data
        required: true
      responses:
        "200":
          description: Status is updated for Kafka clusters
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Update the status of Kafka clusters on an agent cluster
  /api/managed-services-api/v1/agent-clusters/{id}/kafkas:
    get:
      operationId: getKafkas
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedKafkaList'
          description: The list of the ManagedKafkas for the specified agent cluster
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Get the list of ManagedaKafkas for the specified agent cluster
  /api/managed-services-api/v1/agent-clusters/{id}:
    get:
      operationId: getKafkaAgent
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneClusterAgentConfig'
          description: The ManagedKafkaAgent CR Spec
        "400":
          content:
            application/json:
              examples:
                "400InvalidIdExample":
                  $ref: '#/components/examples/400InvalidIdExample'
              schema:
                $ref: '#/components/schemas/Error'
          description: id value is not valid
        "404":
          content:
            application/json:
              examples:
                "404Example":
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is not valid.
      security:
      - Bearer: []
      summary: Get the spec of the ManagedKafkaAgent CR spec
components:
  examples:
    ManagedKafkaExample:
      value: {}
    DataPlaneClusterUpdateStatusRequestExample:
      value: {}
    DataPlaneKafkaUpdateStatusRequestExample:
      value:
        "1iSY6RQ3JKI8Q0OTmjQFd3ocFRg":
          conditions:
          - type: Ready
            reason: KafkaInstanceReady
            message: installing
            status: "False"
            lastTransitionTime: 2018-01-01T00:00:00Z
          capacity:
            ingressEgressThroughputPerSec: 4Mi
            totalMaxConnections: 500
            maxDataRetentionSize: 100Gi
            maxPartitions: 100
            maxDataRetentionPeriod: P14D
          versions:
            kafka: 2.4.1
            strimzi: 0.21.2
    "400DeletionExample":
      value:
        id: "103"
        kind: Error
        href: /api/managed-services-api/v1/errors/103
        code: MGD-SERV-API-103
        reason: Synchronous action is not supported, use async=true parameter
        operation_id: 1iWIimqGcrDuL61aUxIZqBTqNRa
    "400CreationExample":
      value:
        id: "103"
        kind: Error
        href: /api/managed-services-api/v1/errors/103
        code: MGD-SERV-API-103
        reason: Synchronous action is not supported, use async=true parameter
        operation_id: 1iWIimqGcrDuL61aUxIZqBTqNRa
    "400InvalidQueryExample":
      value:
        id: "203"
        kind: Error
        href: /api/managed-services-api/v1/errors/23
        code: MGD-SERV-API-23
        reason: 'Failed to parse search query: Unable to list kafka requests for api_kafka_service:
          MGD-SERV-API-23: Failed to parse search query: Unsupported column name for
          search: ''id''. Supported column names are: region, name, cloud_provider,
          name, status. Query invalid: id = 123'
        operation_id: 1lWDGuybIrEnxrAem724gqkkiDv
    "400InvalidIdExample":
      value:
        id: "203"
        kind: Error
        href: /api/managed-services-api/v1/errors/21
        code: MGD-SERV-API-21
        reason: Bad request
        operation_id: 1lWDGuybIrEnxrAem724gqkkiDv
    "404Example":
      value:
        id: "404"
        kind: Error
        href: /api/managed-services-api/v1/errors/7
        code: MGD-SERV-API-7
        reason: The requested resource doesn't exist
    "404DeleteExample":
      value:
        id: "7"
        kind: Error
        href: /api/managed-services-api/v1/errors/7
        code: MGD-SERV-API-7
        reason: KafkaResource with id='1iK3duVYIvv5YvLlyz1mGR3JyqN' not found
        operation_id: 1iYO7g2g6HTdUKUa2ksH82kQD3y
    "401Example":
      value:
        id: "11"
        kind: Error
        href: /api/managed-services-api/v1/errors/11
        code: MGD-SERV-API-11
        reason: 'Unable to verify JWT token: Required authorization token not found'
        operation_id: 1iY3UhEhwmXBpWPfI2lNekpd4ZD
    "403Example":
      value:
        id: "4"
        kind: Error
        href: /api/managed-services-api/v1/errors/4
        code: MGD-SERV-API-4
        reason: User 'foo-bar' is not authorized to access the service.
        operation_id: 1lY3UiEhznXBpWPfI2lNejpd4YC
    "403MaxAllowedInstanceReachedExample":
      value:
        id: "5"
        kind: Error
        href: /api/managed-services-api/v1/errors/5
        code: MGD-SERV-API-5
        reason: User 'foo-bar' has reached a maximum number of 6 allowed instances.
        operation_id: 1lY3UiEkxnXBpVPeI2oNejd3XB
    "409NameConflictExample":
      value:
        id: "36"
        kind: Error
        href: /api/managed-services-api/v1/errors/36
        code: MGD-SERV-API-36
        reason: Kafka cluster name is already used
        operation_id: 6kY0UiEkzkXCzWPeI2oYehd3ED
    "500Example":
      value:
        id: "9"
        kind: Error
        href: /api/managed-services-api/v1/errors/9
        code: MGD-SERV-API-9
        reason: Unspecified error
        operation_id: 1ieELvF9jMQY6YghfM9gGRsHvEW
    "500DeleteExample":
      value:
        id: "9"
        kind: Error
        href: /api/managed-services-api/v1/errors/9
        code: MGD-SERV-API-9
        reason: 'error deleting syncset: OCM-EX-9: failed to delete syncset: ext-serviceapi-1ix03lndlmq0qfc7sita5sljv8e
          for cluster id: 1g5d88q0lrcdv4g7alb7slfgnj3dhbsj%!(EXTRA *errors.Error=identifier
          is ''404'', code is ''CLUSTERS-MGMT-404'' and operation identifier is ''1g5or50viu07oealuehrkc26dgftj1ac'':
          Cluster ''1g5d88q0lrcdv4g7alb7slfgnj3dhbsj'' not found)'
        operation_id: 1iYTsWry6nsqb2sNmFj5bXpD7Ca
  parameters:
    id:
      description: The id of record
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    page:
      description: Page index
      examples:
        page:
          value: "1"
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: string
      style: form
    size:
      description: Number of items in each page
      examples:
        size:
          value: "100"
      explode: true
      in: query
      name: size
      required: false
      schema:
        type: string
      style: form
  schemas:
    ObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
      type: object
    List:
      properties:
        kind:
          type: string
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
      required:
      - items
      - kind
      - page
      - size
      - total
      type: object
    ListReference:
      properties:
        kind:
          type: string
      required:
      - items
      - kind
      type: object
    PrivateObjectReference:
      properties:
        id:
          type: string
        kind:
          type: string
      type: object
    Error:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/Error_allOf'
    MetaV1Condition:
      example:
        reason: reason
        type: type
        message: message
        lastTransitionTime: lastTransitionTime
        status: status
      properties:
        type:
          type: string
        reason:
          type: string
        message:
          type: string
        status:
          type: string
        lastTransitionTime:
          type: string
      type: object
    ManagedKafkaCapacity:
      properties:
        ingressEgressThroughputPerSec:
          type: string
        totalMaxConnections:
          format: int
          type: integer
        maxDataRetentionSize:
          type: string
        maxPartitions:
          format: int
          type: integer
        maxDataRetentionPeriod:
          type: string
      type: object
    ManagedKafkaVersions:
      properties:
        kafka:
          type: string
        strimzi:
          type: string
      type: object
    ManagedKafka:
      allOf:
      - $ref: '#/components/schemas/PrivateObjectReference'
      - $ref: '#/components/schemas/ManagedKafka_allOf'
    ManagedKafkaList:
      allOf:
      - $ref: '#/components/schemas/ListReference'
      - $ref: '#/components/schemas/ManagedKafkaList_allOf'
      description: A list of ManagedKafka
    ConnectorType:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorType_allOf'
      description: Represents a connector type supported by the API
      required:
      - json_schema
      - name
      - version
    ConnectorTypeList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorTypeList_allOf'
    WatchEvent:
      properties:
        type:
          type: string
        error:
          $ref: '#/components/schemas/Error'
        object:
          nullable: true
          type: object
      required:
      - type
      type: object
    ConnectorList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorList_allOf'
    Connector:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/Connector_allOf'
      description: A connector holds the configuration to connect a Kafka topic to
        another system.
    ConnectorReifyRequest:
      description: ConnectorReifyRequest is used to create ConnectorDeploymentSpec
        objects
      properties:
        connector_id:
          type: string
        resource_version:
          format: int64
          type: integer
        kafka_id:
          type: string
        cluster_id:
          type: string
        cluster_status:
          $ref: '#/components/schemas/ConnectorClusterStatus'
        connector_spec:
          type: object
      type: object
    ConnectorDeployment:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorDeployment_allOf'
      description: Holds the deployment configuration of a connector
    ConnectorDeploymentSpec:
      description: Holds the deployment specification of a connector
      properties:
        connector_id:
          type: string
        operator_ids:
          items:
            type: string
          type: array
        resources:
          items:
            type: object
          type: array
        status_extractors:
          items:
            $ref: '#/components/schemas/ConnectorDeploymentSpec_status_extractors'
          type: array
      type: object
    ConnectorDeploymentStatus:
      description: The status of connector deployment
      example:
        phase: phase
        conditions:
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
      properties:
        phase:
          type: string
        conditions:
          items:
            $ref: '#/components/schemas/MetaV1Condition'
          type: array
      type: object
    ConnectorDeploymentList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorDeploymentList_allOf'
    ConnectorDeploymentWatchEvent:
      allOf:
      - $ref: '#/components/schemas/WatchEvent'
      - $ref: '#/components/schemas/ConnectorDeploymentWatchEvent_allOf'
    ClusterTarget:
      discriminator:
        mapping:
          addon: '#/components/schemas/AddonClusterTarget'
          cloud_provider: '#/components/schemas/CloudProviderClusterTarget'
        propertyName: kind
      oneOf:
      - $ref: '#/components/schemas/AddonClusterTarget'
      - $ref: '#/components/schemas/CloudProviderClusterTarget'
    AddonClusterTarget:
      description: Targets workloads to an addon cluster
      properties:
        kind:
          type: string
        cluster_id:
          type: string
      required:
      - kind
      type: object
    CloudProviderClusterTarget:
      description: Targets workloads to a cloud provider
      properties:
        kind:
          type: string
        cloud_provider:
          type: string
        region:
          type: string
        multi_az:
          type: boolean
      required:
      - kind
      type: object
    AddonParameterList:
      description: A list of addon parameters
      items:
        allOf:
        - $ref: '#/components/schemas/AddonParameter'
      type: array
    AddonParameter:
      description: A addon parameter
      properties:
        id:
          type: string
        value:
          type: string
      type: object
    ConnectorCluster:
      allOf:
      - $ref: '#/components/schemas/ObjectReference'
      - $ref: '#/components/schemas/ConnectorCluster_allOf'
      description: Schema for the request to update a data plane cluster's status
    ConnectorClusterList:
      allOf:
      - $ref: '#/components/schemas/List'
      - $ref: '#/components/schemas/ConnectorClusterList_allOf'
    ConnectorClusterStatus:
      description: Schema for the request to update a data plane cluster's status
      example:
        phase: phase
        operators:
        - namespace: namespace
          id: id
          version: version
          status: status
        - namespace: namespace
          id: id
          version: version
          status: status
        conditions:
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
        version: version
      properties:
        phase:
          type: string
        version:
          type: string
        conditions:
          items:
            $ref: '#/components/schemas/MetaV1Condition'
          type: array
        operators:
          description: the list of installed operators
          items:
            $ref: '#/components/schemas/ConnectorClusterStatus_operators'
          type: array
      type: object
    DataPlaneClusterUpdateStatusRequest:
      description: Schema for the request to update a data plane cluster's status
      example:
        $ref: '#/components/examples/DataPlaneClusterUpdateStatusRequestExample'
      properties:
        conditions:
          description: The cluster data plane conditions
          items:
            $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_conditions'
          type: array
        total:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_total'
        remaining:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_total'
        nodeInfo:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_nodeInfo'
        resizeInfo:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_resizeInfo'
      type: object
    DataPlaneKafkaStatus:
      description: Schema of the status object for a Kafka cluster
      example:
        versions:
          strimzi: strimzi
          kafka: kafka
        conditions:
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
        - reason: reason
          type: type
          message: message
          lastTransitionTime: lastTransitionTime
          status: status
        capacity:
          maxPartitions: 6
          ingressEgressThroughputPerSec: ingressEgressThroughputPerSec
          maxDataRetentionSize: maxDataRetentionSize
          maxDataRetentionPeriod: maxDataRetentionPeriod
          totalMaxConnections: 0
      properties:
        conditions:
          description: The status conditions of a Kafka cluster
          items:
            $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_conditions'
          type: array
        capacity:
          $ref: '#/components/schemas/DataPlaneKafkaStatus_capacity'
        versions:
          $ref: '#/components/schemas/DataPlaneKafkaStatus_versions'
      type: object
    DataPlaneKafkaStatusUpdateRequest:
      additionalProperties:
        $ref: '#/components/schemas/DataPlaneKafkaStatus'
      description: Schema for the request to update the statuses of Kafka clusters
        from data plane
      example:
        $ref: '#/components/examples/DataPlaneKafkaUpdateStatusRequestExample'
      type: object
    DataplaneClusterAgentConfig:
      description: Configuration for the data plane cluster agent
      example:
        spec:
          observability:
            channel: channel
            tag: tag
            accessToken: accessToken
            repository: repository
      properties:
        spec:
          $ref: '#/components/schemas/DataplaneClusterAgentConfig_spec'
      type: object
    Error_allOf:
      properties:
        code:
          type: string
        reason:
          type: string
        operation_id:
          type: string
    ManagedKafka_allOf_metadata_annotations:
      properties:
        bf2.org/id:
          type: string
        bf2.org/placementId:
          type: string
    ManagedKafka_allOf_metadata:
      properties:
        name:
          type: string
        namespace:
          type: string
        annotations:
          $ref: '#/components/schemas/ManagedKafka_allOf_metadata_annotations'
    ManagedKafka_allOf_spec_oauth:
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        tokenEndpointURI:
          type: string
        jwksEndpointURI:
          type: string
        validIssuerEndpointURI:
          type: string
        userNameClaim:
          type: string
        tlsTrustedCertificate:
          type: string
    ManagedKafka_allOf_spec_endpoint_tls:
      properties:
        cert:
          type: string
        key:
          type: string
    ManagedKafka_allOf_spec_endpoint:
      properties:
        bootstrapServerHost:
          type: string
        tls:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_endpoint_tls'
    ManagedKafka_allOf_spec:
      properties:
        capacity:
          $ref: '#/components/schemas/ManagedKafkaCapacity'
        oauth:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_oauth'
        endpoint:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec_endpoint'
        versions:
          $ref: '#/components/schemas/ManagedKafkaVersions'
        deleted:
          type: boolean
      required:
      - deleted
    ManagedKafka_allOf:
      properties:
        metadata:
          $ref: '#/components/schemas/ManagedKafka_allOf_metadata'
        spec:
          $ref: '#/components/schemas/ManagedKafka_allOf_spec'
    ManagedKafkaList_allOf:
      example: '{"kind":"ManagedKafkaList","items":{"$ref":"#/components/examples/ManagedKafkaExample"}}'
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/ManagedKafka'
          type: array
    ConnectorType_allOf:
      properties:
        name:
          description: Name of the connector type.
          type: string
        version:
          description: Version of the connector type.
          type: string
        description:
          description: A description of the connector.
          type: string
        icon_href:
          description: URL to an icon of the connector.
          type: string
        labels:
          description: labels used to categorize the connector
          items:
            enum:
            - sink
            - source
            type: string
          type: array
        json_schema:
          description: A json schema that can be used to validate a connectors connector_spec
            field.
          type: object
    ConnectorTypeList_allOf:
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/ConnectorType'
          type: array
    ConnectorList_allOf:
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/Connector'
          type: array
    Connector_allOf_metadata:
      properties:
        kafka_id:
          type: string
        owner:
          type: string
        name:
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        resource_version:
          format: int64
          type: integer
    Connector_allOf:
      properties:
        metadata:
          $ref: '#/components/schemas/Connector_allOf_metadata'
        deployment_location:
          $ref: '#/components/schemas/ClusterTarget'
        connector_type_id:
          type: string
        connector_spec:
          type: object
        desired_state:
          type: string
        status:
          type: string
    ConnectorDeployment_allOf_metadata:
      properties:
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        resource_version:
          format: int64
          type: integer
    ConnectorDeployment_allOf:
      properties:
        metadata:
          $ref: '#/components/schemas/ConnectorDeployment_allOf_metadata'
        spec:
          $ref: '#/components/schemas/ConnectorDeploymentSpec'
        status:
          $ref: '#/components/schemas/ConnectorDeploymentStatus'
    ConnectorDeploymentSpec_status_extractors:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        name:
          type: string
        jsonPath:
          type: string
        conditionType:
          type: string
    ConnectorDeploymentList_allOf:
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/ConnectorDeployment'
          type: array
    ConnectorDeploymentWatchEvent_allOf:
      properties:
        object:
          $ref: '#/components/schemas/ConnectorDeployment'
    ConnectorCluster_allOf_metadata:
      properties:
        owner:
          type: string
        name:
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
    ConnectorCluster_allOf:
      properties:
        metadata:
          $ref: '#/components/schemas/ConnectorCluster_allOf_metadata'
        status:
          type: string
    ConnectorClusterList_allOf:
      properties:
        items:
          items:
            allOf:
            - $ref: '#/components/schemas/ConnectorCluster'
          type: array
    ConnectorClusterStatus_operators:
      example:
        namespace: namespace
        id: id
        version: version
        status: status
      properties:
        id:
          description: the id of the operator
          type: string
        version:
          description: the version of the operator
          type: string
        namespace:
          description: the namespace to which the operator has been installed
          type: string
        status:
          description: the status of the operator
          type: string
    DataPlaneClusterUpdateStatusRequest_conditions:
      example:
        reason: reason
        type: type
        message: message
        lastTransitionTime: lastTransitionTime
        status: status
      properties:
        type:
          type: string
        reason:
          type: string
        message:
          type: string
        status:
          type: string
        lastTransitionTime:
          type: string
    DataPlaneClusterUpdateStatusRequest_total:
      properties:
        ingressEgressThroughputPerSec:
          nullable: true
          type: string
        connections:
          nullable: true
          type: integer
        dataRetentionSize:
          nullable: true
          type: string
        partitions:
          nullable: true
          type: integer
    DataPlaneClusterUpdateStatusRequest_nodeInfo:
      properties:
        ceiling:
          nullable: true
          type: integer
        floor:
          nullable: true
          type: integer
        current:
          nullable: true
          type: integer
        currentWorkLoadMinimum:
          nullable: true
          type: integer
    DataPlaneClusterUpdateStatusRequest_resizeInfo_delta:
      nullable: true
      properties:
        ingressEgressThroughputPerSec:
          nullable: true
          type: string
        connections:
          nullable: true
          type: integer
        dataRetentionSize:
          nullable: true
          type: string
        partitions:
          nullable: true
          type: integer
    DataPlaneClusterUpdateStatusRequest_resizeInfo:
      properties:
        nodeDelta:
          nullable: true
          type: integer
        delta:
          $ref: '#/components/schemas/DataPlaneClusterUpdateStatusRequest_resizeInfo_delta'
    DataPlaneKafkaStatus_capacity:
      description: Capacity information of the data plane cluster
      example:
        maxPartitions: 6
        ingressEgressThroughputPerSec: ingressEgressThroughputPerSec
        maxDataRetentionSize: maxDataRetentionSize
        maxDataRetentionPeriod: maxDataRetentionPeriod
        totalMaxConnections: 0
      properties:
        ingressEgressThroughputPerSec:
          type: string
        totalMaxConnections:
          type: integer
        maxDataRetentionSize:
          type: string
        maxPartitions:
          type: integer
        maxDataRetentionPeriod:
          type: string
    DataPlaneKafkaStatus_versions:
      description: Version information related to a Kafka cluster
      example:
        strimzi: strimzi
        kafka: kafka
      properties:
        kafka:
          type: string
        strimzi:
          type: string
    DataplaneClusterAgentConfig_spec_observability:
      description: Observability configurations
      example:
        channel: channel
        tag: tag
        accessToken: accessToken
        repository: repository
      properties:
        accessToken:
          type: string
        channel:
          type: string
        repository:
          type: string
        tag:
          type: string
    DataplaneClusterAgentConfig_spec:
      description: Data plane cluster agent spec
      example:
        observability:
          channel: channel
          tag: tag
          accessToken: accessToken
          repository: repository
      properties:
        observability:
          $ref: '#/components/schemas/DataplaneClusterAgentConfig_spec_observability'
