---
# [required]
remote_write_configuration:
  # [required] V2 URL endpoint of the Prometheus instance to be used by the data planes
  # to send metrics. The Prometheus instance has to offer a Remote Write endpoint.
  # If oidc_configuration is set that endpoint has to be offered under the
  # /api/v1/metrics/<tenant>/api/v1/receive" URL path, where <tenant> is defined by the
  # --observability-red-hat-sso-tenant Fleet Manager flag.
  # If oidc_coniguration is set that endpoint has to be offered under the
  # "/" URL path.
  # The format of remote_write_url is `<url-scheme>:<hostname>:<port>` where
  # <port> is optional.
  remote_write_url: # fill here
  # [optional] OIDC configuration used to retrieve OIDC tokens to authenticate against the
  # Prometheus Remote Write endpoint URL. If not provided, the
  # KAS Fleet Manager - Data Plane cross communication OIDC token will be used.
  oidc_configuration:
    # OIDC authorization server URL used to retrieve OIDC tokens.
    # The format of authorization_server is '<url-scheme>:<hostname>:<port><base-path>'
    # where <base-path> is the OIDC Authorization server base path URL, for example
    # '/auth'.
    # [required]
    authorization_server: # fill here
    # OIDC authorization realm. This is the OIDC realm within the authorization server
    # to which OIDC tokens will be requested from.
    # [required]
    realm: # fill here
    # OIDC credentials used to retrieve the OIDC tokens. They are credentials
    # of OAuth2's Client Credentials Authorization grant type.
    # [required]
    credentials:
      # [required] The client identifier part of the Client Credentials
      client_id: # fill here
      # [required] The client secret part of the Client Credentials
      client_secret: # fill here

# [optional] A GitHub Personal Access Token used by Observability in the Data Planes
# to retrieve the Observability configuration. Required if the Observability resources
# configuration git repository is private.
github_resources_auth_token: # fill here
