---
## This file contains the configuration related to the Cloudwatch Logging
## seetings used  by the Observability component installed in the Data Plane Side.
## Note: This is a sample file.
## [required] AWS IAM credentials to be used by Cluster Logging Operator, part of the
# Observability component he configured AWS IAM Credentials should have the appropriate IAM permissions
# to use the AWS CloudWatch Logs service
aws_iam_credentials:
  # [required] AWS IAM Access Key
  aws_access_key: # fill here
  # [required] AWS IAM Secret Access Key
  aws_secret_access_key: # fill here
# [optional]. Name of the K8s Secret to be created in the Data Planes. The secret
# contains the AWS IAM Credentials.
# Accepted values: ["clo-cloudwatchlogs-creds"]
# Default value: "clo-cloudwatchlogs-creds"
k8s_credentials_secret_name: #fill here
# [optional]. Name of the K8s Namespace where the K8s Secret is created in the
# Data Planes. The secret contains the AWS IAM Credentials.
# Accepted values: ["openshift-logging"]
# Default value: "openshift-logging"
k8s_credentials_secret_namespace: #fill here
